# Build output
bin/
obj/
dist/
Publish/

# Visual Studio
.vs/
*.user
*.suo
*.cscfg
*.Cache
project.lock.json

# Test artifacts
/TestResults/
*.log

# NuGet (if ever used)
packages/
tools/NuGet.exe

# App data
App_Data/
secrets/
data/
.secrets/

# Azure local settings
appsettings.json
local.settings.json

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor folders
.vscode/
.idea/

# Python artifacts
.python_packages/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*$py.class

# Azurite (Azure emulator) artifacts
__blobstorage__/
__queuestorage__/
__azurite_db*__.json

# Clutter / duplicates / temp files
* 2.json
* 3.json
*.swp
*.bak
